.loading_icon {
	position: absolute;
	display: flex;
	text-align: center;
   /* background-color: blue;
	*/
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	padding: 2px 4px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.2;
	cursor: pointer;
}

.container:global(.$(NS)_loading) {
	position: relative;
	cursor: progress;
}

.container:global(.$(NS)_loading) > * {
	opacity: 0;
}

.container:global(.$(NS)_loading) > .loading_icon {
	opacity: 1;
}

.container:disabled, .container[disabled], .container:global(.$(NS)_disabled) {
	cursor: no-drop;
}
